.seccion-formulario {
  background-color: yellow;
  border: 3px;
  display: flex;
  padding: 30px;
  justify-content: center;
  margin-bottom: 40px;
  border: 3px;
}
.div-cont-formulario {
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border: 2px solid rgb(37, 37, 37);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
}

.campo {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: rgb(248, 248, 248);
}
.formulario-trabaja {
  display: block;
  font-weight: 600;
  margin-bottom: px;
  color: rgb(76, 76, 80);
}

input[type="text"],
select {
  width: 80%;
  padding: 16px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
}

.Lista-de-checkbox,
.lista-radio {
  list-style: none;
  padding: 10px;
  margin: 3;
  border: 1px;
  background-color: aliceblue;
}

button {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
